/* Notation and chess diagrams */
.mainline {
	font-family: FigurineSymbol, Times New Roman, serif;
	font-weight: bold;
}

.fen-diag {
	align-items: center;
}

.fen-diag-cnv-wrapper {
	max-width: 90%;
	height: 400px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style: italic;
	text-align: center;
	line-height: 1.2rem;
	font-family: Roboto, sans-serif;
}

/* To handle embedded lichess iframes*/
iframe[src*="lichess"] {
	border: none;
	max-width: 100%;
	width: 800px;
	height: 495px;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px); /* Adjust size as needed */
  grid-template-rows: repeat(8, 50px);
  border: 2px solid #333;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}
